:root {
    --white: #ffffff;
    --light-blue: #20A4F7;
    --dark-blue: #042940;
    --dark-green: #005C53;
    --light-green: #1FC4AB;
    --lighter-green: #03A688;
    --yellow: #DBF227;
    --light-brown: #D6D58E;
    --pink: #F2668B;
    --purple: #38184C;
    --dark-red: #591C21;
    --light-red: #F73939;
    --facebook: #4267b2;
    --google: #DE4032;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--dark-blue);
    color: #fff;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

html {
    position: relative;
    min-height: 100%;
}

.caption {
    word-break: break-all;
}

