.btn-facebook {
    color: #fff;
    background-color: var(--facebook);
}

.btn-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    opacity: 0.7;
}

.btn-google {
    color: #fff;
    background-color: var(--google);
}

.btn-google:hover {
    color: #fff;
    background-color: #c23321;
    opacity: 0.7;
}
